<br>
<h1 align="center"> Declined Applications</h1><hr>
<div class ="container">
	<div class="row">
  	<div class = "well col-md-12 col-md-offset-6 ">
   		<div class = "sort_paginate_ajax"><%= render 'admin/declined_app' %></div>
		</div>
    </div>
  </div>

 