<br>
<h1 align="center"> Posts History</h1><hr>
<div class ="container">
	<div class="row">
    <div class = "well col-md-12 col-md-offset-6 ">
 			<div class = "well col-md-12 col-md-offset-6 ">
 				<div id = "post-ac"> 
        </div>
 			<div class = "sort_paginate_ajax"><%= render 'tutors/postshistory' %></div>
		</div>
  </div>
  </div>
 </div>
