body {
  overflow-x: hidden;
}

.heading {
  display: inline-block;
    overflow: hidden;
    width: 100%;
}
.page-content {
  width: 80%;
  vertical-align: top;
}

.page-content,
.page-sidebar {
	display: inline-block;
}

.home-page {
	position: absolute;
  text-align: center;
  top: 35%;
  left: 45%;
  margin-left: -200px
}

.dashed-border {
  border: #708992 1px dashed;
}

.img-circle{
  border-radius: 50%;
}

.avatartop {
  overflow:hidden;
  width:40px;height:40px;
}

.navbar {
	margin-bottom: 0px !important;
}

.form-area {
  width: 50%;
}

.alert {
  position: absolute;
  opacity: 0.7;
  top: 2%;
  left: 15%;
  width: 65%;
}

.password-area {
  border: solid 1px #888;
  border-radius: 6px;
  padding: 10px;
}

.btn-group{
  width: 100%;
  .multiselect {
    width: 100%
  }
}

.datatable {
  th {
    width: 40px;
  }
}