body {
  overflow-x: hidden;
}

.navbar {
  padding-bottom: 30px !important;

}

.heading {
  display: inline-block;
    overflow: hidden;
    width: 100%;
}

.editpost {
  margin-bottom: 0 px;
  padding: 10px;
    
}

.org_text {
  word-wrap:break-word;
  background-color: #F3ECEC;
  width: 100%;
  border: 25px;
  padding: 5px;
  margin-bottom: 5px;
}

.page-content {
  width: 80%;
  vertical-align: top;
}

.buttonAcc{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.post{
  margin-top:4px;
  padding:20px;
  background-color: lightgrey;
  display: inline-block;
}

.cpost{
  margin-top:4px;
  padding:20px;
  padding-left: 70px;
  display: inline-block;
}

.epost{
  padding-top: 30px;
  margin-top:4px;
  background-color: lightgrey;
  display: inline-block;
  padding-bottom: 20px;
}

.buttonEdit{
  background-color: green;
  border: none;
  color: white;
  padding: 6px 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonDecline{
  background-color:red;
  border: none;
  color: white;
  padding: 6px 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonDec{
  background-color: red;
  border: none;
  color: white;
  padding: 6px 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.formAdd{
  padding: 10px;
  margin: 10px;
}

.pag {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.page-content,
.page-sidebar {
	display: inline-block;
}

.home-page {
	position: absolute;
  text-align: center;
  top: 35%;
  left: 45%;
  margin-left: -200px
}

.dashed-border {
  border: #708992 1px dashed;
}

.img-circle{
  border-radius: 50%;
}

.avatartop {
  overflow:hidden;
  width:40px;height:40px;
}

.navbar {
	margin-bottom: 0px !important;
}

.form-area {
  width: 50%;
}

.alert {
  position: absolute;
  opacity: 0.7;
  top: 2%;
  left: 15%;
  width: 65%;
}

.password-area {
  border: solid 1px #888;
  border-radius: 6px;
  padding: 10px;
}



  * {
  box-sizing: border-box;
}

body {
  
  background: #f2f2f2;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  background: lightgrey;
  
}

.input {
  position: absolute;
  opacity: 0;
}

.labelx{
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}

.labelx:hover {
  background: #d8d8d8;
}

.labelx:active {
  background: #ccc;
}




.input:checked + .labelx {
  background: #fff;
  color: #000;
}

@media (min-width: 600px) {
  .labelx {
    width: auto;
  }
}
.panel {
  display: none;

  width: 1200px;
  padding: 2px 2px 2px 2px;
  background: lightgrey;
}


@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .labelx + .panel {
  display: block;
}


.btn-group{
  width: 100%;
  .multiselect {
    width: 100%
  }
}

.datatable {
  th {
    width: 40px;
  }
}
.centera {

  margin: auto;
  width: 50%;
  padding: 10px;
}

.card{
  text-align: center;
  overflow: hidden;
  display: block;
  margin-bottom: 0px;
  line-height: 1.32857143;
  background-color: #fff;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
    -webkit-box-shadow: 0 4px 6px -6px black;
   -moz-box-shadow: 0 4px 6px -6px black;
        box-shadow: 0 4px 6px -6px black;
        min-height:267px;
  &:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  }
}

.card-header {
  background-color: #717fbd;
  color: #fff;
}

.card-area{
 p:first-child {
    margin-top: 1rem !important;
  }
}

.credits-info{
  position: absolute;
  top: 60%;
  left: 1.5%;
  color: #ff6379;
  .btn-sm {
    line-height: 1.0;
  }
}

.btnnew{
  
  float:right;
  margin-top: 15px;
}
.froala{
  
  float:left;
  margin-left: 30px;
}

.selected-languages {
  height: 150px;
  width: 512px;
  background-color: #fff;
  border-radius: 5px;

  .label-info {
    background-color: #5bc0de;
  }

  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;


    .remove-lang {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  
}


.selected-tagg {
  height: 150px;
  width: 1200px;
  background-color: #fff;
  border-radius: 5px;

  .label-info {
    background-color: #5bc0de;
  }

  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;


    .remove-lang {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  
}


.selected-tags {
  min-height: 15px;
  min-width: 5px;
  margin-left: 2px;
  border-radius: 5px;
  
  .label-info {
    background-color: #5bc0de;
    padding: 2px;
  }

  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-left: 3px; 
 
    .remove-lang {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }






}